// ----- COLORS -----
$clr-lg-grey: #E5EBEF;
$clr-dark-grey: #393E43;
$clr-blue: #0273DC;
$clr-orange: #FF3200;

$clr-h: #343A46;
$clr-faded-text: #868E96;
$clr-tag-box: #E8F7E9;
$clr-tags: #097038;

// ----- MEDIA QUERIES -----
$width-s: 768px;
$width-m: 1250px;