header {
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #E5EBEF;
}
header .nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .nav__pages-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 300px 0 50px;
  text-align: center;
}
header .nav__pages {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 10px;
  text-decoration: none;
  color: #393E43;
}
header .nav__pages:hover {
  color: #393E43;
  border-bottom: 3px solid #393E43;
}
header .nav .active {
  color: #FF3200;
  border-bottom: 3px solid #FF3200;
  font-weight: bold;
}
header .nav__currency-container {
  margin-right: 20px;
}
header .nav__currency {
  border: 1px solid #0273DC;
  border-radius: 100%;
  cursor: pointer;
}
header .nav .flag {
  width: 34px;
  height: 34px;
}
header .nav .tl {
  width: 34px;
  height: 34px;
  padding: 8px;
}
header .nav__link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
header .nav__dropdown {
  margin: 0 15px;
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .nav__dropdown:hover {
  color: #393E43;
  border-bottom: 3px solid #393E43;
}
header .nav__dropdown-icon {
  margin-left: 5px;
}
header .nav__link {
  height: 100%;
  text-decoration: none;
  color: #393E43;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .nav__link:hover {
  color: #393E43;
  border-bottom: 3px solid #393E43;
}
header .nav .sign-in {
  height: 45%;
  border: 1px solid #393E43;
  padding: 10px 15px;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
}
header .nav .sign-in:hover {
  color: white;
  background-color: #393E43;
  transform: scale(1.1);
  box-shadow: 0px 10px 13px -7px #000000, 0px 5px 15px 5px rgba(0, 0, 0, 0);
}

.location__header {
  font-size: 16px;
  color: #343A46;
}
.location__address {
  width: 300px;
  margin: 10px 0;
  font-size: 14px;
  color: #868E96;
}
.location__img {
  width: 300px;
  margin-bottom: 10px;
}
.location__btn {
  width: 300px;
  border-radius: 5px;
  border: 1px solid #0273DC;
  color: #0273DC;
  font-weight: bold;
  height: 50px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.location__btn:hover {
  color: white;
  background-color: #0273DC;
  box-shadow: 0px 10px 13px -7px #000000, 0px 5px 15px 5px rgba(0, 0, 0, 0);
}

.hotel-info .highlight {
  height: 50px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hotel-info .highlight__header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hotel-info .highlight__header h3 {
  color: #343A46;
  font-size: 22px;
  margin-right: 20px;
}
.hotel-info .highlight__header .fa-star {
  color: #FF3200;
}
.hotel-info .highlight__location {
  display: flex;
  margin-top: 8px;
  font-size: 14px;
  color: #868E96;
}
.hotel-info .highlight__location .fa-location-dot {
  margin-right: 5px;
}
.hotel-info .highlight__btn {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #0273DC;
  font-weight: bold;
  cursor: pointer;
}
.hotel-info .highlight__btn:hover {
  color: #0273DC;
  background-color: white;
  border: 1px solid #0273DC;
  box-shadow: 0px 10px 13px -7px #000000, 0px 5px 15px 5px rgba(0, 0, 0, 0);
}
.hotel-info .hotel-info-mid .info-container {
  margin-bottom: 50px;
}
.hotel-info .hotel-info-mid .info-container .slider {
  margin-bottom: 20px;
}
.hotel-info .hotel-info-mid .info-container .slider img {
  width: 100%;
  height: 500px;
  border-radius: 5px;
}
.hotel-info .hotel-info-mid .info-container__text {
  color: #343A46;
  font-size: 18px;
}
.hotel-info .hotel-info-mid .details {
  display: flex;
  width: 100%;
  height: 350px;
  border: 1px solid #E5EBEF;
  border-radius: 5px;
  margin-bottom: 25px;
}
.hotel-info .hotel-info-mid .details__img-container img {
  width: 300px;
  height: 100%;
  border-radius: 5px 0 0 5px;
}
.hotel-info .hotel-info-mid .details .details-info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hotel-info .hotel-info-mid .details .details-info__title {
  width: 90%;
  border-bottom: 1px solid #E5EBEF;
}
.hotel-info .hotel-info-mid .details .details-info__tags h4 {
  font-size: 22px;
  color: #343A46;
  margin-bottom: 10px;
}
.hotel-info .hotel-info-mid .details .details-info__tag-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
.hotel-info .hotel-info-mid .details .details-info__tag-container p {
  font-size: 12px;
  background-color: #E8F7E9;
  color: #097038;
  margin: 0 5px 5px 0;
  padding: 5px 10px;
  width: fit-content;
}
.hotel-info .hotel-info-mid .details .details-info__tag-container .fa-circle-info {
  margin-left: 3px;
  color: #E8F7E9;
  background-color: #097038;
  border: 2px solid #097038;
  border-radius: 50%;
}
.hotel-info .hotel-info-mid .details .details-info__perks-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hotel-info .hotel-info-mid .details .details-info__perks {
  margin: 15px 0;
}
.hotel-info .hotel-info-mid .details .details-info__perks p {
  margin: 10px 0;
}
.hotel-info .hotel-info-mid .details .details-info__perks .fa-circle-check {
  color: white;
  background-color: #000000;
  border: 2px solid black;
  border-radius: 50%;
  margin-right: 5px;
}
.hotel-info .hotel-info-mid .details .details-info__price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.hotel-info .hotel-info-mid .details .details-info__price .old-price {
  color: #868E96;
  font-size: 18px;
  text-decoration: line-through;
}
.hotel-info .hotel-info-mid .details .details-info__price .new-price {
  color: #0273DC;
  font-size: 36px;
  font-weight: bold;
}
.hotel-info .hotel-info-mid .details .details-info__booking {
  width: 90%;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hotel-info .hotel-info-mid .details .details-info__booking .warning {
  font-size: 14px;
  color: #393E43;
}
.hotel-info .hotel-info-mid .details .details-info__booking .show-details {
  font-size: 13px;
  font-weight: bold;
  color: #0273DC;
  margin-top: 10px;
  cursor: pointer;
}
.hotel-info .hotel-info-mid .details .details-info__booking .fa-circle-info {
  color: white;
  background-color: #0273DC;
  border: 2px solid #0273DC;
  border-radius: 50%;
  margin-right: 5px;
}
.hotel-info .hotel-info-mid .details .details-info__btn-container button {
  font-size: 18px;
  width: 190px;
  height: 50px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #0273DC;
  font-weight: bold;
  cursor: pointer;
}
.hotel-info .hotel-info-mid .details .details-info__btn-container button:hover {
  color: #0273DC;
  background-color: white;
  border: 1px solid #0273DC;
  box-shadow: 0px 10px 13px -7px #000000, 0px 5px 15px 5px rgba(0, 0, 0, 0);
}
.hotel-info .hotel-info-mid .details .details-info__btn-container button .fa-arrow-right-long {
  margin-left: 20px;
}

.additional-perks__bottom {
  height: 200px;
}
.additional-perks__bottom .additional-perks__title {
  margin-bottom: 20px;
}
.additional-perks__bottom .additional-perks__title h4 {
  font-size: 22px;
  color: #343A46;
}
.additional-perks__bottom .additional-perks__perks {
  font-size: 16px;
  color: #343A46;
  display: flex;
  flex-wrap: wrap;
}
.additional-perks__bottom .additional-perks__perks p {
  margin-bottom: 10px;
  width: 300px;
}
.additional-perks__bottom .additional-perks__perks .fa-check {
  margin-right: 5px;
}

.details-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 900px;
  height: 965px;
  background-color: white;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1607843137);
  z-index: 1;
}
.details-popup .fa-circle-xmark {
  position: absolute;
  right: 0;
  margin: 20px;
  font-size: 30px;
  color: white;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}
.details-popup .fa-circle-xmark:hover {
  color: red;
  transform: scale(1.1);
}
.details-popup .slider img {
  width: 900px;
}
.details-popup__container {
  width: 90%;
  margin: 0 auto;
}
.details-popup__container .details-popup__text h4 {
  font-size: 24px;
  color: #343A46;
  margin: 15px 0;
}
.details-popup__container .details-popup__text p {
  font-size: 16px;
  color: #343A46;
  margin-bottom: 15px;
  text-align: left;
}
.details-popup__container .details-popup__tags {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-bottom: 15px;
}
.details-popup__container .details-popup__tags p {
  font-size: 16px;
  background-color: #E8F7E9;
  color: #097038;
  margin: 0 5px 5px 0;
  padding: 5px 10px;
  width: fit-content;
}
.details-popup__container .details-popup__tags .fa-circle-info {
  margin-left: 3px;
  color: #E8F7E9;
  background-color: #097038;
  border: 2px solid #097038;
  border-radius: 50%;
}
.details-popup__container .details-popup__perks {
  font-size: 16px;
  color: #343A46;
  display: flex;
  flex-wrap: wrap;
  height: 150px;
}
.details-popup__container .details-popup__perks p {
  width: 250px;
}
.details-popup__container .details-popup__perks .fa-check {
  margin-right: 5px;
}
.details-popup__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.details-popup__bottom .details-popup__price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.details-popup__bottom .details-popup__price .new-price {
  color: #0273DC;
  font-size: 36px;
  font-weight: bold;
}
.details-popup__bottom .details-popup__price .warning {
  font-size: 14px;
  color: #393E43;
}
.details-popup__bottom .details-popup__btn-container button {
  font-size: 18px;
  width: 190px;
  height: 50px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #0273DC;
  font-weight: bold;
  cursor: pointer;
}
.details-popup__bottom .details-popup__btn-container button:hover {
  color: #0273DC;
  background-color: white;
  border: 1px solid #0273DC;
  box-shadow: 0px 10px 13px -7px #000000, 0px 5px 15px 5px rgba(0, 0, 0, 0);
}
.details-popup__bottom .details-popup__btn-container button .fa-arrow-right-long {
  margin-left: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 90%;
  margin: 50px auto;
  display: grid;
  grid-template: auto/25% 75%;
  grid-column-gap: 20px;
}

.grey-line-across {
  width: 100%;
  height: 1px;
  background-color: #E5EBEF;
  margin: 20px 0;
}

.cloud {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.hidden {
  transition: opacity 0.2s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.visible {
  opacity: 1;
  height: 965px;
}

@media (max-width: 1025px) {
  .details-popup {
    width: 95%;
    height: auto;
  }
  .details-popup .slider img {
    width: 100%;
  }
  .details-popup__container .details-popup__perks p {
    width: 180px;
  }
  .details-popup__bottom {
    margin-bottom: 20px;
  }
}
@media (max-width: 1025px) {
  header {
    height: 100px;
    width: 100%;
    margin: auto;
  }
  header .nav {
    flex-wrap: wrap;
  }
  header .nav__pages-container {
    height: 50px;
    margin: 0;
  }
  header .nav__currency-container {
    margin: 0 10px;
  }
  header .nav__link-container {
    height: 50px;
  }
  header .nav__dropdown {
    margin: 0 5px 0 10px;
  }
  header .nav .sign-in {
    height: 50px;
  }
  .container {
    width: 90%;
    margin: 0 auto;
    grid-template: 15% auto/auto;
    grid-column-gap: 0;
    grid-row-gap: 20px;
  }
  .location {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: auto;
  }
  .hotel-info .highlight {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 120px;
    margin: auto;
  }
  .hotel-info .highlight__header {
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .hotel-info .highlight__header h3 {
    font-size: 18px;
  }
  .hotel-info .highlight__btn {
    margin-top: 15px;
  }
  .hotel-info .hotel-info-mid .info-container {
    margin-bottom: 20px;
  }
  .hotel-info .hotel-info-mid .info-container .slider img {
    width: 100%;
    height: 400px;
    margin: auto;
  }
  .hotel-info .hotel-info-mid .info-container__text {
    width: 90%;
  }
  .hotel-info .hotel-info-mid .details {
    width: 100%;
    margin: 0 auto 25px;
    border: none;
  }
  .hotel-info .hotel-info-mid .details__img-container {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
  .hotel-info .hotel-info-mid .details__img-container img {
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    width: 90%;
    height: 350px;
    border-radius: 5px;
  }
  .hotel-info .hotel-info-mid .details .details-info__tag-container p {
    border: 1px solid #097038;
  }
  .hotel-info .hotel-info-mid .details .details-info__btn-container button {
    font-size: 14px;
    width: 140px;
    height: 40px;
  }
  .additional-perks__bottom {
    height: auto;
  }
  .additional-perks__bottom .additional-perks__perks {
    font-size: 14px;
    justify-content: left;
  }
  .additional-perks__bottom .additional-perks__perks p {
    width: 200px;
  }
}
@media (max-width: 768px) {
  .details-popup {
    width: 95%;
    height: auto;
  }
  .details-popup .slider img {
    width: 100%;
  }
  .details-popup__container .details-popup__perks p {
    width: 180px;
  }
  .details-popup__bottom {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  header {
    height: 25vh;
    width: 90%;
    margin: auto;
  }
  header .nav {
    flex-wrap: wrap;
  }
  header .nav__pages-container {
    height: 50px;
    margin: 0;
  }
  header .nav__link-container {
    height: 50px;
  }
  header .nav .sign-in {
    height: 50px;
  }
  .container {
    width: 90%;
    margin: 0 auto;
    grid-template: 15% auto/auto;
    grid-column-gap: 0;
    grid-row-gap: 20px;
  }
  .location {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: auto;
  }
  .hotel-info .highlight {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 120px;
    margin: auto;
  }
  .hotel-info .highlight__header {
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .hotel-info .highlight__header h3 {
    font-size: 18px;
  }
  .hotel-info .highlight__btn {
    margin-top: 15px;
  }
  .hotel-info .hotel-info-mid .info-container {
    margin-bottom: 20px;
  }
  .hotel-info .hotel-info-mid .info-container .slider img {
    width: 100%;
    height: 400px;
    margin: auto;
  }
  .hotel-info .hotel-info-mid .info-container__text {
    width: 90%;
  }
  .hotel-info .hotel-info-mid .details {
    width: 100%;
    margin: 0 auto 25px;
    border: none;
  }
  .hotel-info .hotel-info-mid .details__img-container {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
  .hotel-info .hotel-info-mid .details__img-container img {
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    width: 90%;
    height: 350px;
    border-radius: 5px;
  }
  .hotel-info .hotel-info-mid .details .details-info__tag-container p {
    border: 1px solid #097038;
  }
  .hotel-info .hotel-info-mid .details .details-info__btn-container button {
    font-size: 14px;
    width: 140px;
    height: 40px;
  }
  .additional-perks__bottom {
    height: auto;
  }
  .additional-perks__bottom .additional-perks__perks {
    font-size: 14px;
    justify-content: left;
  }
  .additional-perks__bottom .additional-perks__perks p {
    width: 200px;
  }
}

/*# sourceMappingURL=style.css.map */
