@import '../absracts/mixins';
@import '../absracts/variables';

.location {
    &__header {
        font-size: 16px;
        color: $clr-h;
    }
    &__address {
        width: 300px;
        margin: 10px 0;
        font-size: 14px;
        color: $clr-faded-text;
    }
    &__img {
        width: 300px;
        margin-bottom: 10px;
    }
    &__btn {
        width: 300px;
        border-radius: 5px;
        border: 1px solid $clr-blue;
        color: $clr-blue;
        font-weight: bold;
        height: 50px;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        &:hover {
            color: white;
            background-color: $clr-blue;
            box-shadow: 0px 10px 13px -7px #000000, 0px 5px 15px 5px rgba(0,0,0,0);
        }
    }
}